<!DOCTYPE html>
<html>
	<head>
		<title><%= lingua.about.title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

	</head>
	<body>
		<% include nav %>
		<h1><%= lingua.about.title %></h1>
		<dl>
			
			<dd><%= lingua.about.description %></dd>
			<dt><h3><%= lingua.about.source_code %></h2></dt>
			<dd>
				<ul>
					<li>Serelex -- <a target="_blank" href="https://github.com/jgc128/Serelex">https://github.com/jgc128/Serelex</a></li>
					<li>PatternSim -- <a target="_blank" href="https://github.com/cental/patternsim">https://github.com/cental/patternsim</a></li>
					<li>Lexico-Semantic Search Engine (<%= lingua.about.this_site %>) -- <a target="_blank" href="https://github.com/PomanoB/lsse">https://github.com/PomanoB/lsse</a></li>
				</ul>
			</dd>
			<dt><h3><%= lingua.about.publications %></h3></dt>
			<dd>
				<ul>
					<li>Панченко A., Адейкин С., Романов П., Романов A. <a href="http://cental.fltr.ucl.ac.be/team/~panchenko/aist-camera-final.pdf">Извлечение семантических отношений из статей Википедии с помощью алгоритмов ближайших соседей.</a> // Труды конференции Анализ Социальных сетей, Изображений и Текстов (АИСТ) --- Екатеринбург, 2012 --- С.~208--219.</li>
					<li>Alexander Panchenko, Sergey Adeykin, Alexey Romanov and Pavel Romanov. <a href="http://ceur-ws.org/Vol-871/paper_9.pdf">Extraction of Semantic Relations between Concepts with KNN Algorithms on Wikipedia.</a> In.: Dmitry I. Ignatov, Sergei O. Kuznetsov, Jonas Poelmans (Eds.) Proceedings of 2nd International Workshop on Concept Discovery in Unstructured Data 2012. Published by KU-Leuven, ISBN 978-9-08-140991-9</li>
					<li>Panchenko A., Morozova O., Naets H. <a href="http://cental.fltr.ucl.ac.be/team/~panchenko/sim-eval/konvens2012.pdf">A Semantic Similarity Measure Based on Lexico-Syntactic Patterns.</a> // In Proceedings of 11th Conference on Natural Language Processing (KONVENS 2012), — Vienna (Austria), 2012 </li>
				</ul>
			</dd>
		</dl>
		
	</body>
</html>