<!DOCTYPE html>
<html>
	<head>
		<title><%= lingua.about.title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />

		<% include meta %>


		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
 		<% include counters %>
	</head>
	<body>
		<% include nav %>
		<h2><%= lingua.about.title %></h2>
		<dl>			
			<dt><h3><%= lingua.about.publications %></h3></dt>
			<dd>
				<ul>
					<li>Panchenko A., Morozova O., Naets H. <a href="http://www.oegai.at/konvens2012/proceedings/23_panchenko12p/23_panchenko12p.pdf">A Semantic Similarity Measure Based on Lexico-Syntactic Patterns.</a> // In Proceedings of 11th Conference on Natural Language Processing (KONVENS 2012), — Vienna (Austria), pp.174--178, 2012. <a href="http://cental.fltr.ucl.ac.be/team/~panchenko/sim-eval/konvens-poster.pdf">Poster</a> <a href="http://cental.fltr.ucl.ac.be/team/~panchenko/sim-eval/konvens-presentation.pdf">Presentation</a></li>
					<li>Panchenko A., Adeykin S., Romanov A. and Romanov P. <a href="http://ceur-ws.org/Vol-871/paper_9.pdf">Extraction of Semantic Relations between Concepts with KNN Algorithms on Wikipedia.</a> In.: Dmitry I. Ignatov, Sergei O. Kuznetsov, Jonas Poelmans (Eds.) Proceedings of 2nd International Workshop on Concept Discovery in Unstructured Data 2012. Published by KU-Leuven, ISBN 978-9-08-140991-9</li>
					<li>Панченко A., Адейкин С., Романов П., Романов A. <a href="http://cental.fltr.ucl.ac.be/team/~panchenko/aist-camera-final.pdf">Извлечение семантических отношений из статей Википедии с помощью алгоритмов ближайших соседей.</a> // Труды конференции Анализ Социальных сетей, Изображений и Текстов (АИСТ) --- Екатеринбург, 2012 --- С.~208--219. <a href="http://aistconf.org/images/Presentations/panchenko.pdf"> Презентация</a></li>
				</ul>
			</dd>
						
			<dt><h3><%= lingua.about.advanced %></h3></dt>
			<dd>
			<%- lingua.about.advanced_description %>
			</dd>

			<dt><h3><%= lingua.about.design %></h3></dt>
			<dd>
			<%- lingua.about.design_description %>
			</dd>

			<dt><h3>API</h3></dt>
			<dd>
			<%- lingua.about.api_description %>
			<pre><code>
{
  "word": "ubuntu",
  "model": "norm60-corpus-all",
  "relations": [
    {
      "word": "debian",
      "value": 0.848965058911512,
      "icon": false
    },
    {
      "word": "mandriva",
      "value": 0.498265193741008,
      "icon": false
    },
    {
      "word": "fedora",
      "value": 0.333650822618753,
      "icon": false
    },
    {
      "word": "gentoo",
      "value": 0.333297162942371,
      "icon": false
    },
    {
      "word": "opensuse",
      "value": 0.232300240955515,
      "icon": false
    },
...
}
</pre></code>

		</dl>

	</body>
</html>
