<!DOCTYPE html>
<html>
	<head>
		<title><%= lingua.advanced.title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />


		<script src="/socket.io/socket.io.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script src="/js/vivagraph.js"></script>
		<script src="/js/jit.js"></script>

		<script>
			
			var advanced = true;

			var lingua = {
				not_found: "<%= lingua.search.not_found %>",
				not_found_try_perhaps: "<%= lingua.search.not_found_try_perhaps %>",
				results_count: "<%= lingua.search.results_count %>",
				results: "<%= lingua.search.results %>",
				show_images: "<%= lingua.nav.show_images %>",
				hide_images: "<%= lingua.nav.hide_images %>"
			};
			var modelStats = <%- JSON.stringify(modelStats) %>;
			var modelHelp = {};
			<% for(var model in lingua.models) {%>
			   modelHelp["<%= model %>"] = "<%- lingua.models[model] %>";
			<% } %>


		</script>

		<script src="/js/lsse.js"></script>
		<script src="/js/search.js"></script>
		<script src="/js/visualization.js"></script>

		<script>
			$(function(){
				var helpDisplayed = false;
				$('#show_help').click(function(){
					if (helpDisplayed)
					{
						$('#model_description').hide();
						return helpDisplayed = false;
					}
					var m = $('#model').val();
					if (typeof modelHelp[m] != "undefined")
					{
						helpDisplayed = true;
						$('#model_description').css('display', 'inline-block');
						$('#model_number_of_words').html(modelStats[m].words);
						$('#model_number_of_relations').html(modelStats[m].relations);
						$('#model_help_text').html(modelHelp[m]);
					}
					return false;
				});
				$('#model_description>a[href="#close"], #grpah_options>a[href="#close"]').click(function(){
					$(this).parent().hide();
					return helpDisplayed = false;
				});
				$('#model').change(function(){
					if (helpDisplayed)
					{
						helpDisplayed = false;
						$('#show_help').click();
					}
				});	
			});
		</script>
 		<% include counters %>
	</head>
	<body>
		<% include nav %>
		<h2><%= lingua.advanced.title %></h2>
		<form action="?" id="input_form">
			<input type="text" placeholder="<%= lingua.search.input_word %>" id="input_word" autocomplete='off' />
			<input type="submit" value="<%= lingua.search.search %>" />
			<select id="model">
				<% for(var i=0; i < models.length; i++) {%>
				   <option value="<%= models[i].alias %>"><%= models[i].name %></option>
				<% } %>
			</select>
			<a href="#show_help" id="show_help">?</a>
			<div id="model_description">
				<a href="#close">x</a>
				<div>
					<%= lingua.advanced.number_of_words %>: <span id="model_number_of_words"></span>
				</div>
				<div>
					<%= lingua.advanced.number_of_relations %>: <span id="model_number_of_relations"></span>
				</div>
				<div id="model_help_text">

				</div>
			</div>
			<div id="example_search"><%= lingua.search.for_example %>, <a href="#fruit">fruit</a></div>
			<ul id="suggest_results">
				<li>dog</li>
				<li>cat</li>
				<li>human</li>
			</ul>
		</form>
	
		<% include relevance %>

		<div id="grpah_options">
			<a href="#close">x</a>
			<table>
				<tr>
					<td>
						<label for="graph_option_gravity">Gravity</label>
					</td>
					<td>
						<input type="text" id="graph_option_gravity" />
					</td>
				</tr>
				<tr>
					<td>
						<label for="graph_option_springCoeff">springCoeff</label>
					</td>
					<td>
						<input type="text" id="graph_option_springCoeff" />
					</td>
				</tr>
				<tr>
					<td>
						<label for="graph_option_theta">theta</label>
					</td>
					<td>
						<input type="text" id="graph_option_theta" />
					</td>
				</tr>
				<tr>
					<td>
						<label for="graph_option_drag">drag</label>
					</td>
					<td>
						<input type="text" id="graph_option_drag" />
					</td>
				</tr>
				<tr class="graph_option_links_length_options">
					<td colspan="2">
						Spring Len = <input type="text" id="graph_option_links_length_type_a"  class="graph_small_option"/> * REL +
						<input type="text" id="graph_option_links_length_type_b" class="graph_small_option" />
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<input type="button" id="graph_apply_button" value="Apply" />
					</td>
				</tr>
			</table>
		</div>

		<div id="graph_container">
			<div>
				<a href="#delete"><%= lingua.visualization.delete_last_node %></a>
				<a href="#delete_free_nodes"><%= lingua.visualization.delete_all_free_node %></a>
			</div>
		</div>

		<div id="result">

		</div>
		<a href="#show_all" id="show_all"><%= lingua.search.show_all %></a>
	</body>
</html>
