<!DOCTYPE html>
<html>
	<head>
		<title><%= lingua.advanced.title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />


		<script src="/socket.io/socket.io.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

		<script>
			
			var advanced = true;

			var lingua = {
				not_found: "<%= lingua.search.not_found %>",
				results_count: "<%= lingua.search.results_count %>"
			};

		</script>

		<script src="/js/lsse.js"></script>
		<script src="/js/search.js"></script>


	</head>
	<body>
		<% include nav %>
		<h1><%= lingua.advanced.title %></h1>
		<form action="?" id="input_form">
			<input type="text" placeholder="<%= lingua.search.input_word %>" id="input_word" autocomplete='off' />
			<select id="model">
				<% for(var i=0; i < models.length; i++) {%>
				   <option value="<%= models[i].alias %>"><%= models[i].name %></option>
				<% } %>
			</select>
			<input type="submit" value="<%= lingua.search.search %>" />
			<ul id="suggest_results">
				<li>dog</li>
				<li>cat</li>
				<li>human</li>
			</ul>
		</form>
		<div id="result">

		</div>
		<a href="#show_all" id="show_all"><%= lingua.search.show_all %></a>
	</body>
</html>