<!DOCTYPE html>
<html>
	<head>
		<title><%= lingua.title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />

		<script src="/socket.io/socket.io.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script src="/js/vivagraph.js"></script>
		<script src="/js/lsse.js"></script>

		<script>
			
			var advanced = false;
			var lingua = {
				not_found: "<%= lingua.search.not_found %>",
				not_found_try_perhaps: "<%= lingua.search.not_found_try_perhaps %>",
				results_count: "<%= lingua.search.results_count %>",
				results: "<%= lingua.search.results %>",
				show_images: "<%= lingua.nav.show_images %>",
				hide_images: "<%= lingua.nav.hide_images %>"
			};
			var defaultModel = 'norm60-corpus-all';

			$(function(){
				$('#model').val(defaultModel);
			});
			
		</script>

		<script src="/js/search.js"></script>
		<script src="/js/visualization.js"></script>
		
		<% include counters %>

	</head>
	<body>
		<% include nav %>
		<h2><%= lingua.title %></h2>
		
		<form action="?" id="input_form">
			<input type="text" placeholder="<%= lingua.search.input_word %>" id="input_word" autocomplete='off' />
			<input type="hidden" name="model" id="model" />
			<input type="submit" value="<%= lingua.search.search %>" />
			<div id="example_search"><%= lingua.search.for_example %>, <a href="#fruit">fruit</a></div>
			<ul id="suggest_results">
				<li>dog</li>
				<li>cat</li>
				<li>human</li>
			</ul>
		</form>

		<% include relevance %>

		<div id="grpah_options">
			<a href="#close">x</a>
			<table>
				<tr>
					<td>
						<label for="graph_option_gravity">Gravity</label>
					</td>
					<td>
						<input type="text" id="graph_option_gravity" />
					</td>
				</tr>
				<tr>
					<td>
						<label for="graph_option_springCoeff">springCoeff</label>
					</td>
					<td>
						<input type="text" id="graph_option_springCoeff" />
					</td>
				</tr>
				<tr>
					<td>
						<label for="graph_option_theta">theta</label>
					</td>
					<td>
						<input type="text" id="graph_option_theta" />
					</td>
				</tr>
				<tr>
					<td>
						<label for="graph_option_drag">drag</label>
					</td>
					<td>
						<input type="text" id="graph_option_drag" />
					</td>
				</tr>
				<tr class="graph_option_links_length_options">
					<td colspan="2">
						Spring Len = <input type="text" id="graph_option_links_length_type_a"  class="graph_small_option"/> * REL +
						<input type="text" id="graph_option_links_length_type_b" class="graph_small_option" />
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<input type="button" id="graph_apply_button" value="Apply" />
					</td>
				</tr>
			</table>
		</div>

		<div id="graph_container">
			<div>
				<a href="#delete"><%= lingua.visualization.delete_last_node %></a>
				<a href="#delete_free_nodes"><%= lingua.visualization.delete_all_free_node %></a>
			</div>
		</div>

		<div id="result">
		</div>
		<a href="#show_all" id="show_all"><%= lingua.search.show_all %></a>
	</body>
</html>
