<!DOCTYPE html>
<html>
	<head>
		<title><%= lingua.title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />

		<script src="/socket.io/socket.io.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

		<script src="/js/lsse.js"></script>

		<script>
			
			var advanced = false;
			var lingua = {
				not_found: "<%= lingua.search.not_found %>",
				not_found_try_perhaps: "<%= lingua.search.not_found_try_perhaps %>",
				results_count: "<%= lingua.search.results_count %>",
				results: "<%= lingua.search.results %>",
				show_images: "<%= lingua.nav.show_images %>",
				hide_images: "<%= lingua.nav.hide_images %>"
			};
			var defaultModel = 'norm60-corpus-all';

			$(function(){
				$('#model').val(defaultModel);
			});
			
		</script>

		<script src="/js/search.js"></script>


		<script type="text/javascript">

			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-34670459-1']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter17296054 = new Ya.Metrika({id:17296054, enableAll: true, webvisor:true});
        } catch(e) { }
    });
    
    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/17296054" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

	</head>
	<body>
		<% include nav %>
		<h2><%= lingua.title %></h2>
		<form action="?" id="input_form">
			<input type="text" placeholder="<%= lingua.search.input_word %>" id="input_word" autocomplete='off' />
			<input type="hidden" name="model" id="model" />
			<input type="submit" value="<%= lingua.search.search %>" />
			<div id="example_search"><%= lingua.search.for_example %>, <a href="#fruit">fruit</a></div>
			<ul id="suggest_results">
				<li>dog</li>
				<li>cat</li>
				<li>human</li>
			</ul>
		</form>
		<div id="result">
		</div>
		<a href="#show_all" id="show_all"><%= lingua.search.show_all %></a>
	</body>
</html>