<!DOCTYPE html>
<html>
<head>
    <title><%= lingua.title %></title>

    <% include meta %>
    <% include counters %>

    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <script src="/js/modernizr.custom.63321.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="/js/jquery.dropdown.js"></script>
    <script src="/js/vivagraph.js"></script>
    <script src="/js/lsse.js"></script>
    <script>
        $(document).ready(function () {

            $('#model-menu').click(
                    function () {
                        $("#rightMenu").stop().slideToggle();
                    }
            );

        });

        var useLang = "<%- useLang %>";
        var defaultModel = "<%- useModel %>";
        var lang = "<%= locale %>";
        var advanced = false;
        var lingua = {
            not_found: "<%= lingua.search.not_found %>",
            not_found_try_perhaps: "<%= lingua.search.not_found_try_perhaps %>",
            results_count: "<%= lingua.search.results_count %>",
            results: ["<%= lingua.search.results.one %>", "<%= lingua.search.results.two %>", "<%= lingua.search.results.many %>"],
            show_images: "<%= lingua.nav.show_images %>",
            hide_images: "<%= lingua.nav.hide_images %>",
            hide_second_links: "<%= lingua.nav.hide_second_links %>",
            show_second_links: "<%= lingua.nav.show_second_links %>"
        };
        var currentPage = 'graph_search';
        var showDisambiguates = 5;
        var sampleSearch = <%- samples %>;
    </script>
    <script src="/js/search.js"></script>
    <script src="/js/visualization.js"></script>
</head>

<body>
<div class="container">
    <div id="scroll_to_top">
        <div></div>
    </div>

    <% include nav %>

    <div id="top_header_conatiner">
        <form action="?" id="input_form" class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="<%= lingua.search.input_word %>" id="input_word" autocomplete='off'/>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="submit" class="btn" style="width:90px;background-color:#858585;color:white;" value="<%= lingua.search.search %>"/>
                <input type="hidden" name="model" id="model"/>
            </div>

            <script>
                var dbModels = <%- cfg.models.dbModelValues %>;
                var selected_model = "";
            </script>

            <div id="model-dropdown" class="model-dropdown" name="model-dropdown"
                 style="visibility:hidden;display:none;">
                <select id="model_select" name="model_select"
                        onchange="this.options[this.selectedIndex].value && (window.location=this.options[this.selectedIndex].value);"
                        style="">

                    <% cfg.models.dbModelValues.forEach(function(row){ %>
                    <option value= <%= "/".concat(row.lang).concat("/").concat(row.name) %>><a
                                class="remember_word_link<% if (!useLang) { %>  current<% } %>"
                                href=<%= "/".concat(row.lang) %>> <%= "".concat(row.lang).concat("-").concat(row.name) %></a>
                    </option>
                    <% }) %>
                </select>

            </div>

            <ul id="suggest_results">
                <li>dog</li>
                <li>cat</li>
                <li>human</li>
            </ul>
            <div id="example_search"><%- lingua.search.for_example %>, <a href="#fruit">fruit</a></div>
        </form>

        <script>
            function setSelectedValue(selectEle) {
                var arr_url = valueToSet.split("/");
                var language = "<%= cfg.defalutLang.toLowerCase() %>";
                if (arr_url[4]) {
                    model_val = arr_url[4].trim("#.*");
                    model_val = arr_url[3] + "-" + model_val;
                } else if (arr_url[3]) {
                    model_val_arr = arr_url[3].split('#');
                    if (model_val_arr[0]) {
                        model_val = model_val_arr[0] + "-";
                    }
                } else {
                    model_val_arr = arr_url[1].split("#");
                    model_val = model_val_arr[0];
                }
                if (!model_val) {
                    model_val = selectEle.options[0].text;
                    selectEle.options[0].selected = true;
                    selected_model = model_val;
                } else {
                    for (var i = 0; i < selectEle.options.length; i++) {
                        if (model_val.endsWith('-')) {
                            var lang = selectEle.options[i].text.split("-");
                            var lang_selected = model_val.split("-");
                            if (lang[0] == lang_selected[0]) {
                                model_val = selectEle.options[i].text;
                                selectEle.options[i].selected = true;
                                selected_model = model_val;
                                language = lang[0];
                            }
                        } else if (selectEle.options[i].text == model_val) {
                            var lang = selectEle.options[i].text.split("-");
                            language = lang[0];
                            selectEle.options[i].selected = true;
                            selected_model = model_val;
                        }
                    }
                }
                <% cfg.models.dbModelValues.forEach(function(row){ %>
                if ("<%= row.lang %>" == language) {
                    <% var searchLang = row.lang.toLowerCase() %>;
                    sampleSearch = <%- JSON.stringify(cfg.samples[searchLang]) %>;
                }
                <% }) %>
                return;
            }

            var model_val = "";
            var objSelectEle = document.getElementById("model_select");
            var valueToSet = window.location.href;
            setSelectedValue(objSelectEle);
            $(function () {
                if (model_val.indexOf("#") > -1) {
                    var arr_clean_model_url = model_val.split("#");
                    model_val = arr_clean_model[0];
                }
                $('#model').val(model_val);
                $('#graph_container>div').hide();

                $('#graph_container').css('left', '290px');
            });
        </script>

        <div class="top_header_switch">
            <!-- uncomment when better coverage of images will be available
            <div><%= lingua.visualization.show_as %></div>
             <ul>
                <li><a  href="<%= useLangLink %>/" class="remember_word_link<% if (view == "index") { %>  current<% } %>" ><%= lingua.nav.graph %></a></li>
				<li><a  href="<%= useLangLink %>/page/images" class="remember_word_link<% if (view == "images") { %> current<% } %>" ><%= lingua.nav.images %></a></li>
			</ul>
			-->
        </div>

        <div class="dropdown" style="position:absolute;right:180px;">
            <button id="modelButton" class="btn dropdown-toggle" style="width:70px;background-color:#858585;"
                    onClick="this.style.backgroundColor='#C0C0C0'" onmouseout="this.style.backgroundColor='#858585'"
                    type="button" data-toggle="dropdown">
                <span style="color:white;" class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </button>
            <ul onmouseover="onmouseUL()" class="dropdown-menu" id="model-dropdown-menu">
                <% cfg.models.dbModelValues.forEach(function(row){ %>
                <li id= <%= "/".concat(row.lang).concat("/").concat(row.name) %>>
                    <a onmouseover="onmouseUL()"
                       href= <%= "/".concat(row.lang).concat("/").concat(row.name) %>> <%= "".concat(row.lang.toUpperCase()).concat(" ").concat(row.name) %></a>
                </li>

                <% }) %>
            </ul>
        </div>

        </ul>
        <div class="top_header_switch">
            <!--<div><%= lingua.nav.lang_choose %></div>
				<ul>
					<li><a class="remember_word_link<% if (!useLang) { %>  current<% } %>" href="/"><%= lingua.nav.lang_en %></a></li>
					<li><a class="remember_word_link<% if (useLang == "fr") { %>  current<% } %>" href="/fr"><%= lingua.nav.lang_fr %></a></li>
					<li><a class="remember_word_link<% if (useLang == "ru") { %>  current<% } %>" href="/ru"><%= lingua.nav.lang_ru %></a></li>
				</ul>-->


        </div>


        <div class="clearfix"></div>
    </div>

    <div id="info_panel">


    </div>
    <div class="infobox disambiguates_info">
        <a href="#close">x</a>
        <div>
        </div>
    </div>

    <% include graph %>

    <div id="result">
    </div>
    <a href="#show_all" id="show_all"><%= lingua.search.show_all %></a>

    <script>
        $(function () {
            $('#info_panel').on('click', 'a.show_all_disambiguates', function (e) {
                $('ul.disambiguates_list>li').show();
                $(e.target).hide();
                return false;
            });
            $('#info_panel').on('click', 'ul.disambiguates_list a', function (e) {
                var word = decodeURIComponent($(e.target).attr('href').slice(29));

                $.getJSON('/def/' + word, function (response) {

                    var def = {
                        lang: "en",
                        definition: response.definition.en,
                        label: word.replace(/_/g, ' ')
                    };
                    if (lang == "ru" && response.definition.ru != null) {
                        def.definition = response.definition.ru;
                        def.lang = "ru";
                    }
                    if (response.labels[def.lang])
                        def.label = response.labels[def.lang];

                    if (def.definition) {
                        var html = '<div style="max-height: 400px;text-overflow: ellipsis;overflow: hidden"><strong>' + def.label + '</strong> — ' + def.definition +
                                '</div><a  target="_blank" href="http://' + def.lang + '.wikipedia.org/wiki/' + encodeURIComponent(def.label.replace(/ /g, '_')) + '"><%= lingua.search.wikipedia %></a>';
                        $('div.disambiguates_info').show().find('div').html(html);
                    }

                });
                return false;
            })
        })

        var searchIn = {
            'Google': 'https://google.com/search?q=%s',
            'Thesaurus.com': 'http://thesaurus.com/browse/%s?s=t',
            'Longman Dictionary': 'http://www.ldoceonline.com/search/?q=%s',
            'The Free Dictionary': 'http://www.thefreedictionary.com/%s',
            'Oxford Dictionaries': 'http://oxforddictionaries.com/definition/english/%s',
            'Merriam-Webster': 'http://www.merriam-webster.com/dictionary/%s',
            'Cambridge Dictionary': 'http://dictionary.cambridge.org/dictionary/british/%s',
            'Collins Dictionary': 'http://www.collinsdictionary.com/dictionary/english/%s'
        };

        var langPriority = [];
        langPriority.push("en");
        if (useLang != "en")
            langPriority.push(useLang);
        if (lang != "en")
            langPriority.push(lang);

        displayResults = function (data) {
            $.getJSON('/def/' + data.word, function (response) {
                var html = '';
                var definition = '', url = {lang: 'en', label: response.word.replace(/_/g, ' ')};

                var i;
                for (i = 0; i < langPriority.length; i++) {
                    if (Object.prototype.hasOwnProperty.call(response.definition, langPriority[i]) && response.definition[langPriority[i]]) {
                        definition = response.definition[langPriority[i]];
                    }
                    if (Object.prototype.hasOwnProperty.call(response.labels, langPriority[i]) && response.labels[langPriority[i]]) {
                        url.label = response.labels[langPriority[i]];
                        url.lang = langPriority[i];
                    }
                }

                if (definition) {
                    var wordDefWords = definition.split(/\s+/);
                    if (wordDefWords.length > 50) {
                        wordDefWords.splice(50);
                        wordDefWords.push("...");
                        definition = wordDefWords.join(' ');
                    }

                    if (response.image)
                        html += '<img class="info_panel_image" src="' + response.image + '" alt="" />';

                    html += '<div><strong>' + response.word.replace(/_/g, ' ') + '</strong> — ' + ( definition ) + '</div><a   target="_blank" href="http://' + url.lang + '.wikipedia.org/wiki/' + encodeURIComponent(url.label.replace(/ /g, '_')) + '"><%= lingua.search.wikipedia %></a>';
                }
                if (typeof response.disambiguates != "undefined" && response.disambiguates.length > 0) {
                    html += '<div><%= lingua.search.disambiguates %>:<ul 	class="disambiguates_list">';

                    $.post('/sort/' + data.word, {
                        data: response.disambiguates
                    }, function (response) {
                        var i, html = '';
                        for (i = 0; i < response.length; i++) {
                            html += '<li' + (i < showDisambiguates ? '' : ' style="display: none"') + '><a target="_blank"  href="http://en.wikipedia.org/wiki/' + encodeURIComponent(response[i]) + '">' + response[i].replace('_', ' ') + '</a></li>';
                        }
                        $('#info_panel ul.disambiguates_list').append(html);
                        if (i > showDisambiguates)
                            $('#info_panel a.show_all_disambiguates').show();
                    });
                    /*
                     var i;
                     for(i = 0; i < response.disambiguates.length; i++)
                     {
                     html += '<li' + (i < showDisambiguates ? '' : ' style="display: none"') + '><a  target="_blank" href="http://en.wikipedia.org/wiki/' + encodeURIComponent(response.disambiguates[i]) + '">' + response.disambiguates[i].replace('_', ' ') + '</a></li>';
                     }
                     */
                    html += '</ul>';
                    //
                    //	if (i > showDisambiguates)
                    html += '<a   href="#show_all" class="show_all_disambiguates" style="display: none;" ><%= lingua.search.show_all_disambiguates %></a>';
                    html += '</div>';
                }
                html += '<div><%= lingua.search.search_in %>...</div><ul>';
                for (var name in searchIn) {
                    if (searchIn.hasOwnProperty(name)) {
                        html += '<li><a  target="_blank" href="' + searchIn[name].replace('%s', data.word) + '">' + name + '</a></li>';
                    }
                }
                $('#info_panel').html(html).find('img.info_panel_image').error(function () {
                    $(this).hide();
                }).attr('src', response.image);

                if (showInfoPanel)
                    $('#info_panel').show();
            });

            var result;

            //	$('#graph_container>div').show();
            if (currentSkip == 0) {
                graph.clear();
                $('#result').empty();
            }

            if (data.totalRelations > 0) {
                graph.addData(data, 20, currentSkip == 0 ? LinkType.PrimaryLink : LinkType.SecondaryLink);
                graph.update();

                if (currentSkip == 0) {
                    result = '<span>' + lingua.results_count + ': ' + data.totalRelations + '</span>';
                    result += '<table>';
                }

                var firstRel = -1;
                var i;
                for (i = 0; i < data.relations.length; i++) {
                    result += ('<tr><td style="color:#808080" >' + (currentSkip + i + 1) + '&nbsp;</td>');
                    //	result += ('<td ><img ' + (showImages ? '' : 'style="display: none" ')+ 'src="/svg/' + (data.relations[i].icon ? data.relations[i].word : 'no') + '.svg" class="result_icon" /></td>');
                    result += ('<td ><a  href="#' + data.relations[i].word + '">' + data.relations[i].word + '</a>');
                    if (advanced)
                        result += (' - ' + data.relations[i].value);
                    result += '</td></tr>';
                }
                if (currentSkip == 0)
                    result += '</table>';

                if (data.relations.length < data.totalRelations)
                    $('#show_all').show();

                //	$('div.relevance').show().find('select').val(0);

                if (graph.show2ndLinks())
                    show2ndLinks();
                if (currentSkip == 0)
                    $('#result').html(result);
                else
                    $('#result table>tbody').append(result);
            }

            return result;
        }

        $(function () {
            $('#cd-dropdown').dropdown({
                gutter: 5
            });
        });

        function onmouseUL() {
            var eleUL = document.getElementById("modelButton");
            eleUL.style.color = "#C0C0C0";
        }
    </script>
</div>
</body>
</html>
