<div id="switches">
	<a href="?language=<%= locale == "ru" ? "en" : "ru" %>" id="switch_lang"><%= locale == "ru" ? lingua.nav.english : lingua.nav.russian %></a>
	<a href="#show_images" id="switch_images"><%= lingua.nav.show_images %></a>
	<a href="#toogle_secondary_links" id="switch_secondary_links"><%= lingua.nav.show_images %></a>
</div>
<nav>
		<ul>
			<li>
				<a href="/" <%if (view == "index") {%> class="current" <%}%>  class="remember_word_link" ><%= lingua.nav.graph %></a>
			</li>
			<li>
				<a href="/page/images" <%if (view == "images") {%> class="current" <%}%> class="remember_word_link" ><%= lingua.nav.images %></a>
			</li>
			<!-- <li>
				<a href="/page/advanced"><%= lingua.nav.advanced %></a>
			</li> -->
			<li>
				<a href="/page/about" <%if (view == "about") {%> class="current" <%}%> ><%= lingua.nav.about %></a>
			</li>
		</ul>
</nav>
<script>
	$(function(){
		if (currentPage == "images_search")
		{
			$('#switch_images').hide();
			$('#switch_secondary_links').hide();
		}

	});
</script>