<a href="?language=<%= locale == "ru" ? "en" : "ru" %>" id="switch_lang"><%= locale == "ru" ? lingua.nav.english : lingua.nav.russian %></a>
<nav>
		<ul>
			<li>
				<a href="/"><%= lingua.nav.main %></a>
			</li>
			<li>
				<a href="/page/advanced"><%= lingua.nav.advanced %></a>
			</li>
			<li>
				<a href="/page/about"><%= lingua.nav.about %></a>
			</li>
		</ul>
</nav>