<nav class="main_nav">
		<ul>
			<li><a href="<%= useLangLink %>/" <%if (view == "index") {%> class="current" <%}%> ><%= lingua.nav.main %></a></li><!--
			--><li><a href="<%= useLangLink %>/page/about" <%if (view == "about") {%> class="current" <%}%> ><%= lingua.nav.about %></a></li><!--	
			--><li><a href="<%= useLangLink %>/page/download" <%if (view == "download") {%> class="current" <%}%> ><%= lingua.nav.download %></a></li><!--	
			--><li><a href="<%= useLangLink %>/page/contacts" <%if (view == "contacts") {%> class="current" <%}%> ><%= lingua.nav.contacts %></a></li>		
		</ul>
</nav>
<!--<a href="?language=<%= locale == "ru" ? "en" : "ru" %>" id="switch_lang" class="remember_word_link"><%= locale == "ru" ? lingua.nav.english : lingua.nav.russian %></a>-->
<a id="logo" href="<%= useLangLink %>/">
	<img src="/images/logo.png" alt="<%= lingua.nav.logo_alt %>" />
	<div>
		<%= lingua.idea %>
	</div>	
</a>
<!--<% include social %>-->
<div style="border-bottom: 1px solid #337ab7;margin-top: 10px; clear: both; margin-right: -46pt;"></div>
