<nav>
		<ul>
			<li>
				<a href="/page/about" <%if (view == "about") {%> class="current" <%}%> ><%= lingua.nav.about %></a>
			</li>	
			<li>
				<a href="/page/download" <%if (view == "download") {%> class="current" <%}%> ><%= lingua.nav.download %></a>
			</li>	
			<li>
				<a href="/page/contacts" <%if (view == "contacts") {%> class="current" <%}%> ><%= lingua.nav.contacts %></a>
			</li>		
		</ul>
</nav>
<a href="?language=<%= locale == "ru" ? "en" : "ru" %>" id="switch_lang" class="remember_word_link"><%= locale == "ru" ? lingua.nav.english : lingua.nav.russian %></a>
<a id="logo" href="/">
	<img src="/images/logo.png" alt="Serelex" />
	<div>
		<span>SERE</span>LEX
	</div>
	<span>лексико-семантическая поисковая система</span>
	
</a>
<% include social %>
<div style="border-bottom: 1px solid #00B7FF;margin-top: 10px; clear: both;"></div>
