<div class="relevance">
	<div><%- lingua.relevance.please_evaluate_quality %>:</div>
	<ul class="relevance_select">
		<li class="relevance_cool" data-relevance="1" title="<%= lingua.relevance.relevant %>"></li><!-- 
	--><li class="relevance_mix" data-relevance="2" title="<%= lingua.relevance.mix %>"></li><!-- 
	--><li class="relevance_bad" data-relevance="3" title="<%= lingua.relevance.non_relevant %>"></li>
	</ul>
	<p>
		<%= lingua.relevance.description %>
	</p>
</div>