<div class="relevance">
	<div><%= lingua.relevance.please_evaluate_quality %>:</div>
	<select class="relevance_select">
		<option value="0" disabled="true" ><%= lingua.relevance.quality_of_result %>:</option>
		<option value="1"><%= lingua.relevance.relevant %></option>
		<option value="2"><%= lingua.relevance.mix %></option>
		<option value="3"><%= lingua.relevance.non_relevant %></option>
		<option value="3"><%= lingua.relevance.other %></option>
	</select>
	<p>
		<%= lingua.relevance.description %>
	</p>
</div>