<!DOCTYPE html>
<html>
	<head>
		<title><%= lingua.title %></title>

		<% include meta %>

		<link rel='stylesheet' href='/stylesheets/style.css' />

		<script src="/socket.io/socket.io.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script src="/js/vivagraph.js"></script>
		<script src="/js/lsse.js"></script>

		<script>
			
			var lang = "<%= locale %>";

			var advanced = false;
			var lingua = {
				not_found: "<%= lingua.search.not_found %>",
				not_found_try_perhaps: "<%= lingua.search.not_found_try_perhaps %>",
				results_count: "<%= lingua.search.results_count %>",
				results: ["<%= lingua.search.results.one %>", "<%= lingua.search.results.two %>", "<%= lingua.search.results.many %>"],
				show_images: "<%= lingua.nav.show_images %>",
				hide_images: "<%= lingua.nav.hide_images %>",
				hide_second_links: "<%= lingua.nav.hide_second_links %>",
				show_second_links: "<%= lingua.nav.show_second_links %>"
			};
			var defaultModel = 'norm60-corpus-all';

			$(function(){
				$('#model').val(defaultModel);

				$('#graph_container>div').hide();

				$('#graph_container').css('left', '400px');
			});
			
			var currentPage = 'graph_search';

		</script>

		<script src="/js/search.js"></script>
		<script src="/js/visualization.js"></script>
		
		<% include counters %>

	</head>
	<body>
		<div id="scroll_to_top">
			<div></div>
		</div>

		<% include nav %>
		
		<div id="top_header_conatiner">
			<form action="?" id="input_form">
				<div><%= lingua.search.system_search %></div>
				<input type="text" placeholder="<%= lingua.search.input_word %>" id="input_word" autocomplete='off' />
				<input type="hidden" name="model" id="model" />
				<input type="submit" value="<%= lingua.search.search %>" />
				<ul id="suggest_results">
					<li>dog</li>
					<li>cat</li>
					<li>human</li>
				</ul>
				<div id="example_search"><%- lingua.search.for_example %>, <a href="#fruit">fruit</a></div>
			</form>
			
			<div class="top_header_switch">
				<div><%= lingua.visualization.show_as %>:</div>
				<ul>
					<li><a href="/" class="remember_word_link<%if (view == "index") {%>  current<%}%>" ><%= lingua.nav.graph %></a></li><!--
					--><li><a href="/page/images" class="remember_word_link<%if (view == "images") {%> current<%}%>" ><%= lingua.nav.images %></a>
			</li></li>
				</ul>
			</div>
			
			<div class="top_header_switch">
				<div><%= lingua.visualization.option_2nd %></div>
				<ul id="2nd_link_switcher">
					<li><a href="#on"><%= lingua.visualization.on %></a></li><!--
					--><li><a href="#off"><%= lingua.visualization.off %></a></li>
				</ul>
			</div>

			<div class="top_header_switch">
				<div><%= lingua.visualization.option_icons %></div>
				<ul id="icons_switcher">
					<li><a href="#on"><%= lingua.visualization.on %></a></li><!--
					--><li><a href="#off"><%= lingua.visualization.off %></a></li>
				</ul>
			</div>

			<div class="clearfix"></div>
		</div>
		
		<div id="info_panel">
			

		</div>

		<% include graph %>

		<div id="result">
		</div>
		<a href="#show_all" id="show_all"><%= lingua.search.show_all %></a>

		<script>

		var searchIn = {
			'Google': 'https://google.com/search?q=%s',
			'Thesaurus.com': 'http://thesaurus.com/browse/%s?s=t',
			'Longman Dictionary': 'http://www.ldoceonline.com/search/?q=%s'
		};

		displayResults = function(data)
		{

			$.getJSON('/def/' + data.word, function(response){
				var html = '';
				if (response.word)
					html += '<strong>' + response.word + '</strong> - ' + response.description + 
							' - <a target="_blank" href="http://en.wikipedia.org/wiki/' + encodeURIComponent(response.word) + '"><%= lingua.search.wikipedia %></a>';

				html += '<div><%= lingua.search.search_in %>...</div><ul>';
				for(var name in searchIn)
				{
					if (searchIn.hasOwnProperty(name))
					{
						html += '<li><a target="_blank" href="' + searchIn[name].replace('%s', data.word) + '">' + name + '</a></li>';
					}
				}
				
				$('#info_panel').html(html);		
			});

			var result;
			
		//	$('#graph_container>div').show();
			if (currentSkip == 0)
			{
				graph.clear();
				$('#result').empty();
			}
			
			if (data.totalRelations > 0)
			{
				graph.addData(data, 20, currentSkip == 0 ? LinkType.PrimaryLink : LinkType.SecondaryLink);
				graph.update();

				if (currentSkip == 0)
				{
					result = '<span>' + lingua.results_count+ ': ' + data.totalRelations + '</span>';
					result += '<table>';
				}

				var firstRel = -1;
				var i;
				for(i = 0; i < data.relations.length; i++)
				{
					result += ('<tr><td>'+ (currentSkip + i + 1)+ '</td>');
					result += ('<td><img ' + (showImages ? '' : 'style="display: none" ')+ 'src="/svg/' + (data.relations[i].icon ? data.relations[i].word : 'no') + '.svg" class="result_icon" /></td>');
					result += ('<td><a href="#' + data.relations[i].word + '">' + data.relations[i].word + '</a>');
					if (advanced)
						result += (' - ' + data.relations[i].value);
					result += '</td></tr>';
				}
				if (currentSkip == 0)
					result += '</table>';

				if (data.relations.length < data.totalRelations)
					$('#show_all').show();

			//	$('div.relevance').show().find('select').val(0);

				if(graph.show2ndLinks())
					show2ndLinks();
				if (currentSkip == 0)
					$('#result').html(result);
				else
					$('#result table>tbody').append(result);
			}

			return result;	
		}
		</script>
	</body>
</html>
